In [1]:
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [2]:
os.listdir()

['.ipynb_checkpoints',
 'linear regression subaru prices.ipynb',
 'subaru_auto.csv',
 'subaru_ji.csv']

In [3]:
df1 = pd.read_csv('subaru_ji.csv')
df2 = pd.read_csv('subaru_auto.csv')

In [4]:
df1.shape

(276, 6)

In [5]:
df2.shape

(196, 5)

In [6]:
df1.head()

,title,model,condition,yom,mileage,price
0,Subaru Forester 2014 Gray,Forester,Foreign Used,2014.0,NaN,2890000
1,Subaru Forester 2014 Blue,Forester,Foreign Used,2014.0,100862.0,2400000
2,Subaru XV 2014 Sport Package Blue,XV,Foreign Used,2014.0,115000.0,1850000
3,Subaru Forester 2014 Black,Forester,Foreign Used,2014.0,38000.0,2400000
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,Impreza,Brand New,2012.0,6683.0,1950000

In [8]:
df2.head(10)

             title  year condition  mileage    price
0        Subaru XT  2016   foreign    36565  4315000
1  Subaru Forester  2016   foreign    64006  4315000
2  Subaru Forester  2015   foreign    60521  3415000
3   Subaru Impreza  2015   foreign    83705  2015000
4        Subaru XT  2015   foreign    62144  4015000
5    Subaru Legacy  2011     local   132815  1415000
6  Subaru Forester  2015   foreign    77087  3015000
7        Subaru XV  2015   foreign   116582  2315000
8  Subaru Forester  2015   foreign   100104  2830000
9    Subaru Levorg  2015   foreign   111191  2015000

In [10]:
df2['title'].str.split().apply(lambda x: x[1])

0            XT
1      Forester
2      Forester
3       Impreza
4            XT
         ...
191     Impreza
192    Forester
193       Exiga
194     Outback
195     Impreza
Name: title, Length: 196, dtype: object

In [11]:
df2['model'] = df2['title'].str.split().apply(lambda x: x[1])
df2.head()

             title  year condition  mileage    price     model
0        Subaru XT  2016   foreign    36565  4315000        XT
1  Subaru Forester  2016   foreign    64006  4315000  Forester
2  Subaru Forester  2015   foreign    60521  3415000  Forester
3   Subaru Impreza  2015   foreign    83705  2015000   Impreza
4        Subaru XT  2015   foreign    62144  4015000        XT

In [12]:
df1.head()

,title,model,condition,yom,mileage,price
0,Subaru Forester 2014 Gray,Forester,Foreign Used,2014.0,NaN,2890000
1,Subaru Forester 2014 Blue,Forester,Foreign Used,2014.0,100862.0,2400000
2,Subaru XV 2014 Sport Package Blue,XV,Foreign Used,2014.0,115000.0,1850000
3,Subaru Forester 2014 Black,Forester,Foreign Used,2014.0,38000.0,2400000
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,Impreza,Brand New,2012.0,6683.0,1950000

In [13]:
df2.columns.values[1] = 'yom'

In [14]:
df2.head()

             title   yom condition  mileage    price     model
0        Subaru XT  2016   foreign    36565  4315000        XT
1  Subaru Forester  2016   foreign    64006  4315000  Forester
2  Subaru Forester  2015   foreign    60521  3415000  Forester
3   Subaru Impreza  2015   foreign    83705  2015000   Impreza
4        Subaru XT  2015   foreign    62144  4015000        XT

In [15]:
df1['source'] = 'seller 1'
df2['source'] = 'seller 2'

In [16]:
df1.head()

,title,model,condition,yom,mileage,price,source
0,Subaru Forester 2014 Gray,Forester,Foreign Used,2014.0,NaN,2890000,seller 1
1,Subaru Forester 2014 Blue,Forester,Foreign Used,2014.0,100862.0,2400000,seller 1
2,Subaru XV 2014 Sport Package Blue,XV,Foreign Used,2014.0,115000.0,1850000,seller 1
3,Subaru Forester 2014 Black,Forester,Foreign Used,2014.0,38000.0,2400000,seller 1
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,Impreza,Brand New,2012.0,6683.0,1950000,seller 1

In [17]:
df1['condition'].unique()

array(['Foreign Used', 'Brand New', 'Kenyan Used', nan], dtype=object)

In [19]:
df2['condition'].unique()

array(['foreign', 'local'], dtype=object)

In [20]:
df1['model'].unique()

array(['Forester', 'XV', 'Impreza', 'Legacy', 'Levorg', 'Outback',
       'Exiga', 'SVX', 'Trezia', 'Tribeca'], dtype=object)

In [21]:
df2['model'].unique()

array(['XT', 'Forester', 'Impreza', 'Legacy', 'XV', 'Levorg', 'Outback',
       'WRX', 'Tribeca', 'G4', 'Trezia', 'CROSSOVER', 'Sambar', 'Exiga'],
      dtype=object)

In [22]:
df2['condition'] = df2['condition'].str.replace('foreign','Foreign Used')
df2['condition'] = df2['condition'].str.replace('local','Kenyan Used')

In [23]:
?pd.concat

In [27]:
# combine the two datasets/dataframes
df_combo = pd.concat([df1,df2],ignore_index=True)
df_combo.shape

(472, 7)

In [28]:
df_combo.head()

,title,model,condition,yom,mileage,price,source
0,Subaru Forester 2014 Gray,Forester,Foreign Used,2014.0,NaN,2890000,seller 1
1,Subaru Forester 2014 Blue,Forester,Foreign Used,2014.0,100862.0,2400000,seller 1
2,Subaru XV 2014 Sport Package Blue,XV,Foreign Used,2014.0,115000.0,1850000,seller 1
3,Subaru Forester 2014 Black,Forester,Foreign Used,2014.0,38000.0,2400000,seller 1
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,Impreza,Brand New,2012.0,6683.0,1950000,seller 1

In [29]:
df_combo.tail()

,title,model,condition,yom,mileage,price,source
467,Subaru Impreza,Impreza,Foreign Used,2015.0,199459.0,1515000,seller 2
468,Subaru Forester,Forester,Foreign Used,2015.0,102625.0,2915000,seller 2
469,Subaru Exiga,Exiga,Foreign Used,2014.0,141790.0,1865000,seller 2
470,Subaru Outback,Outback,Kenyan Used,2015.0,79633.0,3530000,seller 2
471,Subaru Impreza,Impreza,Foreign Used,2014.0,74346.0,1465000,seller 2

In [30]:
df_combo['condition'].unique()

array(['Foreign Used', 'Brand New', 'Kenyan Used', nan], dtype=object)

In [31]:
df_combo['model'].unique()

array(['Forester', 'XV', 'Impreza', 'Legacy', 'Levorg', 'Outback',
       'Exiga', 'SVX', 'Trezia', 'Tribeca', 'XT', 'WRX', 'G4',
       'CROSSOVER', 'Sambar'], dtype=object)

In [35]:
df_combo.isnull().sum()

title         0
model         0
condition     1
yom           1
mileage      41
price         0
source        0
dtype: int64

In [36]:
df_combo[df_combo['yom'].isnull()]

,title,model,condition,yom,mileage,price,source
270,Subaru Outback 2014 black,Outback,NaN,NaN,180097.0,1649999,seller 1

In [37]:
df_combo.at[270,'yom'] = 2014

In [38]:
df_combo[df_combo['yom'].isnull()]

Empty DataFrame
Columns: [title, model, condition, yom, mileage, price, source]
Index: []

In [39]:
df_combo['yom'] = df_combo['yom'].apply(lambda x: int(x))

In [43]:
datetime.now().year

2022

In [44]:
df_combo['age_years'] = datetime.now().year - df_combo['yom']

In [45]:
df_combo.head()

,title,model,condition,yom,mileage,price,source,age_years
0,Subaru Forester 2014 Gray,Forester,Foreign Used,2014,NaN,2890000,seller 1,8
1,Subaru Forester 2014 Blue,Forester,Foreign Used,2014,100862.0,2400000,seller 1,8
2,Subaru XV 2014 Sport Package Blue,XV,Foreign Used,2014,115000.0,1850000,seller 1,8
3,Subaru Forester 2014 Black,Forester,Foreign Used,2014,38000.0,2400000,seller 1,8
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,Impreza,Brand New,2012,6683.0,1950000,seller 1,10

In [46]:
df_combo.drop('yom',axis='columns')

,title,model,condition,mileage,price,source,age_years
0,Subaru Forester 2014 Gray,Forester,Foreign Used,NaN,2890000,seller 1,8
1,Subaru Forester 2014 Blue,Forester,Foreign Used,100862.0,2400000,seller 1,8
2,Subaru XV 2014 Sport Package Blue,XV,Foreign Used,115000.0,1850000,seller 1,8
3,Subaru Forester 2014 Black,Forester,Foreign Used,38000.0,2400000,seller 1,8
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,Impreza,Brand New,6683.0,1950000,seller 1,10
...,...,...,...,...,...,...,...
467,Subaru Impreza,Impreza,Foreign Used,199459.0,1515000,seller 2,7
468,Subaru Forester,Forester,Foreign Used,102625.0,2915000,seller 2,7
469,Subaru Exiga,Exiga,Foreign Used,141790.0,1865000,seller 2,8
470,Subaru Outback,Outback,Kenyan Used,79633.0,3530000,seller 2,7
471,Subaru Impreza,Impreza,Foreign Used,74346.0,1465000,seller 2,8

In [48]:
df_combo.head()

,title,model,condition,yom,mileage,price,source,age_years
0,Subaru Forester 2014 Gray,Forester,Foreign Used,2014,NaN,2890000,seller 1,8
1,Subaru Forester 2014 Blue,Forester,Foreign Used,2014,100862.0,2400000,seller 1,8
2,Subaru XV 2014 Sport Package Blue,XV,Foreign Used,2014,115000.0,1850000,seller 1,8
3,Subaru Forester 2014 Black,Forester,Foreign Used,2014,38000.0,2400000,seller 1,8
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,Impreza,Brand New,2012,6683.0,1950000,seller 1,10

In [49]:
df_combo.drop('yom',axis='columns',inplace=True)

In [50]:
df_combo.head()

,title,model,condition,mileage,price,source,age_years
0,Subaru Forester 2014 Gray,Forester,Foreign Used,NaN,2890000,seller 1,8
1,Subaru Forester 2014 Blue,Forester,Foreign Used,100862.0,2400000,seller 1,8
2,Subaru XV 2014 Sport Package Blue,XV,Foreign Used,115000.0,1850000,seller 1,8
3,Subaru Forester 2014 Black,Forester,Foreign Used,38000.0,2400000,seller 1,8
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,Impreza,Brand New,6683.0,1950000,seller 1,10

In [51]:
df_combo.isnull().sum()

title         0
model         0
condition     1
mileage      41
price         0
source        0
age_years     0
dtype: int64

In [52]:
df_combo[df_combo['condition'].isnull()]

,title,model,condition,mileage,price,source,age_years
270,Subaru Outback 2014 black,Outback,NaN,180097.0,1649999,seller 1,8

In [59]:
df_combo['condition'].value_counts(normalize=True)

Foreign Used    0.813163
Kenyan Used     0.161359
Brand New       0.025478
Name: condition, dtype: float64

In [60]:
df_combo.at[270,'condition'] = 'Foreign Used'

In [61]:
df_combo[df_combo['mileage'].isnull()].head()

,title,model,condition,mileage,price,source,age_years
0,Subaru Forester 2014 Gray,Forester,Foreign Used,NaN,2890000,seller 1,8
7,Subaru Impreza 2014 Silver,Impreza,Foreign Used,NaN,1350000,seller 1,8
9,Subaru Levorg 2014 White,Levorg,Foreign Used,NaN,1950000,seller 1,8
17,Subaru Legacy 2002 Silver,Legacy,Kenyan Used,NaN,475000,seller 1,20
19,Subaru Levorg 2014 1.6 GT-S EyeSight Pearl,Levorg,Foreign Used,NaN,1900000,seller 1,8

In [173]:
df_combo['mileage'].mean()

100058.2505800464

In [174]:
df_combo.groupby('age_years')['mileage'].mean()

age_years
3      64310.000000
6     130836.235294
7      84363.923077
8      99628.883598
9      84118.193548
10    111653.000000
11    131149.200000
12    127995.500000
13    147245.000000
14    145565.250000
15    153140.200000
16    163094.000000
17    167236.000000
18    188000.000000
19              NaN
20              NaN
21    263939.000000
22    229225.000000
Name: mileage, dtype: float64

In [175]:
df_combo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472 entries, 0 to 195
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      472 non-null    object
 1   model      472 non-null    object
 2   condition  472 non-null    object
 3   mileage    431 non-null    float64
 4   price      472 non-null    int64
 5   source     472 non-null    object
 6   age_years  472 non-null    int64
dtypes: float64(1), int64(2), object(4)
memory usage: 45.7+ KB

In [62]:
df_combo.dropna(inplace=True,subset='mileage')

In [63]:
df_combo.shape

(431, 7)

In [64]:
df_combo.isnull().sum()

title        0
model        0
condition    0
mileage      0
price        0
source       0
age_years    0
dtype: int64

In [65]:
df_combo.describe()

             mileage         price   age_years
count     431.000000  4.310000e+02  431.000000
mean   100058.250580  2.307445e+06    8.285383
std     61987.190526  8.388469e+05    2.334722
min      6683.000000  4.650000e+05    3.000000
25%     69460.500000  1.590000e+06    7.000000
50%     89000.000000  2.400000e+06    8.000000
75%    112388.500000  2.940000e+06    8.000000
max    868301.000000  5.515000e+06   22.000000

In [66]:
df_combo[df_combo['mileage'] < 250000]

,title,model,condition,mileage,price,source,age_years
1,Subaru Forester 2014 Blue,Forester,Foreign Used,100862.0,2400000,seller 1,8
2,Subaru XV 2014 Sport Package Blue,XV,Foreign Used,115000.0,1850000,seller 1,8
3,Subaru Forester 2014 Black,Forester,Foreign Used,38000.0,2400000,seller 1,8
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,Impreza,Brand New,6683.0,1950000,seller 1,10
5,Subaru Forester 2014 Green,Forester,Foreign Used,89021.0,2700000,seller 1,8
...,...,...,...,...,...,...,...
467,Subaru Impreza,Impreza,Foreign Used,199459.0,1515000,seller 2,7
468,Subaru Forester,Forester,Foreign Used,102625.0,2915000,seller 2,7
469,Subaru Exiga,Exiga,Foreign Used,141790.0,1865000,seller 2,8
470,Subaru Outback,Outback,Kenyan Used,79633.0,3530000,seller 2,7
471,Subaru Impreza,Impreza,Foreign Used,74346.0,1465000,seller 2,8

In [67]:
df = df_combo[df_combo['mileage'] < 250000].copy()

In [68]:
df.shape

(425, 7)

In [69]:
df.corr()

            mileage     price  age_years
mileage    1.000000 -0.356903   0.473906
price     -0.356903  1.000000  -0.595366
age_years  0.473906 -0.595366   1.000000

In [70]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

In [72]:
model = LinearRegression()

In [71]:
X = df[['age_years']]
Y = df['price']

In [73]:
print(type(X))
print(type(Y))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [74]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.25,shuffle=True)

In [75]:
X_train.shape

(318, 1)

In [77]:
X_test.shape

(107, 1)

In [78]:
model.fit(X_train,y_train)

LinearRegression()

In [79]:
preds = model.predict(X_test)

In [80]:
r2_score(y_test,preds)

0.3067115846070405

In [82]:
mse = mean_squared_error(y_test, preds)
rmse = np.sqrt(mse)

In [83]:
rmse

658685.1882362014

In [84]:
X = df[['mileage','age_years']]

In [85]:
Y = df['price']

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,shuffle=True,test_size=0.25)

In [87]:
X_train.shape

(318, 2)

In [88]:
y_train.shape

(318,)

In [89]:
model.fit(X_train,y_train)

LinearRegression()

In [90]:
y_pred = model.predict(X_test)

In [91]:
r2 = r2_score(y_test,y_pred)

In [92]:
r2

0.3647337304020156

In [93]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
rmse

637058.4842292833

### One Hot Encoding

In [94]:
one_hot_df = pd.get_dummies(df,columns=['model','condition','source'],drop_first=True)
one_hot_df.shape

(425, 21)

In [95]:
one_hot_df.head()

,title,mileage,price,age_years,model_Exiga,model_Forester,model_G4,model_Impreza,model_Legacy,model_Levorg,...,model_SVX,model_Sambar,model_Trezia,model_Tribeca,model_WRX,model_XT,model_XV,condition_Foreign Used,condition_Kenyan Used,source_seller 2
1,Subaru Forester 2014 Blue,100862.0,2400000,8,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,Subaru XV 2014 Sport Package Blue,115000.0,1850000,8,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
3,Subaru Forester 2014 Black,38000.0,2400000,8,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,New Subaru Impreza 2012 WRX Hatchback STI Limi...,6683.0,1950000,10,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Subaru Forester 2014 Green,89021.0,2700000,8,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [205]:
one_hot_df.corr()

,mileage,price,age_years,model_Exiga,model_Forester,model_G4,model_Impreza,model_Legacy,model_Levorg,model_Outback,model_SVX,model_Sambar,model_Trezia,model_Tribeca,model_WRX,model_XT,model_XV,condition_Foreign Used,condition_Kenyan Used,source_seller 2
mileage,1.000000,-0.356903,0.473906,0.033103,-0.094678,0.061283,0.025534,0.206011,0.017239,-0.081700,0.037732,-0.016675,-0.023163,0.066626,0.024481,-0.035857,-0.031482,-0.279954,0.369387,0.211662
price,-0.356903,1.000000,-0.595366,-0.080779,0.305961,-0.126303,-0.455570,-0.253531,-0.086584,0.426015,0.039599,-0.087395,-0.207936,-0.116300,0.020490,0.163805,-0.088968,0.383979,-0.397760,0.229520
age_years,0.473906,-0.595366,1.000000,-0.021663,-0.050846,0.011848,0.096875,0.194392,-0.059924,-0.085942,-0.005179,-0.005179,-0.038789,0.215252,-0.051999,-0.066801,-0.054404,-0.572164,0.597517,-0.207364
model_Exiga,0.033103,-0.080779,-0.021663,1.000000,-0.065784,-0.012614,-0.044022,-0.032279,-0.021086,-0.052299,-0.004734,-0.004734,-0.013501,-0.006702,-0.010635,-0.015131,-0.024369,0.046938,-0.042541,0.008055
model_Forester,-0.094678,0.305961,-0.050846,-0.065784,1.000000,-0.087336,-0.304799,-0.223491,-0.145998,-0.362109,-0.032776,-0.032776,-0.093478,-0.046407,-0.073637,-0.104764,-0.168723,0.039402,-0.059242,-0.051156
model_G4,0.061283,-0.126303,0.011848,-0.012614,-0.087336,1.000000,-0.058444,-0.042853,-0.027995,-0.069433,-0.006285,-0.006285,-0.017924,-0.008898,-0.014120,-0.020088,-0.032352,0.015022,-0.006051,0.140542
model_Impreza,0.025534,-0.455570,0.096875,-0.044022,-0.304799,-0.058444,1.000000,-0.149556,-0.097700,-0.242317,-0.021933,-0.021933,-0.062554,-0.031054,-0.049276,-0.070106,-0.112906,-0.071360,0.025323,-0.075972
model_Legacy,0.206011,-0.253531,0.194392,-0.032279,-0.223491,-0.042853,-0.149556,1.000000,-0.071637,-0.177677,-0.016082,-0.016082,-0.045867,-0.022770,-0.036131,-0.051405,-0.082788,-0.143090,0.178077,0.011541
model_Levorg,0.017239,-0.086584,-0.059924,-0.021086,-0.145998,-0.027995,-0.097700,-0.071637,1.000000,-0.116070,-0.010506,-0.010506,-0.029963,-0.014875,-0.023603,-0.033581,-0.054082,0.075045,-0.063356,0.006451
model_Outback,-0.081700,0.426015,-0.085942,-0.052299,-0.362109,-0.069433,-0.242317,-0.177677,-0.116070,1.000000,-0.026057,-0.026057,-0.074316,-0.036893,-0.058542,-0.083288,-0.134136,0.012748,-0.003081,0.004667
model_SVX,0.037732,0.039599,-0.005179,-0.004734,-0.032776,-0.006285,-0.021933,-0.016082,-0.010506,-0.026057,1.000000,-0.002358,-0.006727,-0.003339,-0.005299,-0.007539,-0.012141,0.023386,-0.021195,-0.044717
model_Sambar,-0.016675,-0.087395,-0.005179,-0.004734,-0.032776,-0.006285,-0.021933,-0.016082,-0.010506,-0.026057,-0.002358,1.000000,-0.006727,-0.003339,-0.005299,-0.007539,-0.012141,0.023386,-0.021195,0.052743
model_Trezia,-0.023163,-0.207936,-0.038789,-0.013501,-0.093478,-0.017924,-0.062554,-0.045867,-0.029963,-0.074316,-0.006727,-0.006727,1.000000,-0.009524,-0.015113,-0.021501,-0.034627,0.022406,-0.013223,0.046191
model_Tribeca,0.066626,-0.116300,0.215252,-0.006702,-0.046407,-0.008898,-0.031054,-0.022770,-0.014875,-0.036893,-0.003339,-0.003339,-0.009524,1.000000,-0.007502,-0.010674,-0.017190,-0.054841,0.063771,0.005682
model_WRX,0.024481,0.020490,-0.051999,-0.010635,-0.073637,-0.014120,-0.049276,-0.036131,-0.023603,-0.058542,-0.005299,-0.005299,-0.015113,-0.007502,1.000000,-0.016937,-0.027277,0.052541,-0.047619,0.118497
model_XT,-0.035857,0.163805,-0.066801,-0.015131,-0.104764,-0.020088,-0.070106,-0.051405,-0.033581,-0.083288,-0.007539,-0.007539,-0.021501,-0.010674,-0.016937,1.000000,-0.038808,-0.004672,0.016937,0.168586
model_XV,-0.031482,-0.088968,-0.054404,-0.024369,-0.168723,-0.032352,-0.112906,-0.082788,-0.054082,-0.134136,-0.012141,-0.012141,-0.034627,-0.017190,-0.027277,-0.038808,1.000000,0.069222,-0.054554,-0.089717
condition_Foreign Used,-0.279954,0.383979,-0.572164,0.046938,0.039402,0.015022,-0.071360,-0.143090,0.075045,0.012748,0.023386,0.023386,0.022406,-0.054841,0.052541,-0.004672,0.069222,1.000000,-0.906327,0.141403
condition_Kenyan Used,0.369387,-0.397760,0.597517,-0.042541,-0.059242,-0.006051,0.025323,0.178077,-0.063356,-0.003081,-0.021195,-0.021195,-0.013223,0.063771,-0.047619,0.016937,-0.054554,-0.906327,1.000000,-0.079857
source_seller 2,0.211662,0.229520,-0.207364,0.008055,-0.051156,0.140542,-0.075972,0.011541,0.006451,0.004667,-0.044717,0.052743,0.046191,0.005682,0.118497,0.168586,-0.089717,0.141403,-0.079857,1.000000

In [96]:
one_hot_df.columns

Index(['title', 'mileage', 'price', 'age_years', 'model_Exiga',
       'model_Forester', 'model_G4', 'model_Impreza', 'model_Legacy',
       'model_Levorg', 'model_Outback', 'model_SVX', 'model_Sambar',
       'model_Trezia', 'model_Tribeca', 'model_WRX', 'model_XT', 'model_XV',
       'condition_Foreign Used', 'condition_Kenyan Used', 'source_seller 2'],
      dtype='object')

In [97]:
y = one_hot_df['price']

In [98]:
one_hot_df.drop(['title','price'],axis='columns',inplace=True)

In [99]:
one_hot_df.head()

,mileage,age_years,model_Exiga,model_Forester,model_G4,model_Impreza,model_Legacy,model_Levorg,model_Outback,model_SVX,model_Sambar,model_Trezia,model_Tribeca,model_WRX,model_XT,model_XV,condition_Foreign Used,condition_Kenyan Used,source_seller 2
1,100862.0,8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,115000.0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0
3,38000.0,8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,6683.0,10,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,89021.0,8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0

In [100]:
X_train, X_test, y_train, y_test = train_test_split(one_hot_df, y, test_size=0.25,shuffle=True)

In [101]:
X_train.shape

(318, 19)

In [102]:
X_test.shape

(107, 19)

In [103]:
y_train.shape

(318,)

In [214]:
y_test.shape

(107,)

In [104]:
model.fit(X_train, y_train)

LinearRegression()

In [105]:
y_preds = model.predict(X_test)

In [106]:
r2 = r2_score(y_test, y_preds)

In [107]:
r2

0.8026313784020356

In [108]:
mse = mean_squared_error(y_test, y_preds)
mse

135871032033.95088

In [109]:
rmse = np.sqrt(mse)
rmse

368606.88006865914

In [110]:
y_test

373    1465000
429    3315000
355    1765000
188    3300000
54      800000
        ...
346    1180000
256    1400000
302    2445000
337    1765000
442    1830000
Name: price, Length: 107, dtype: int64

In [111]:
y_test_pd = pd.Series(y_preds,index=y_test.index,name="predicted")
y_test_pd

373    1.787503e+06
429    3.070854e+06
355    1.908360e+06
188    3.038229e+06
54     9.343831e+05
           ...
346    1.499867e+06
256    1.513339e+06
302    2.485295e+06
337    2.020753e+06
442    2.161632e+06
Name: predicted, Length: 107, dtype: float64

In [234]:
y_test_pd

97     2.625186e+06
130    3.359430e+06
145    2.188749e+06
129    1.863910e+06
41     1.628588e+06
           ...
132    1.650085e+06
36     1.354687e+06
42     1.847498e+06
28     2.621018e+06
11     1.074321e+06
Name: predicted, Length: 107, dtype: float64

In [235]:
y_test

97     2900000
130    2965000
145    2515000
129    1465000
41     1530000
        ...
132    1200000
36     1365000
42     1815000
28     2880000
11     1070000
Name: price, Length: 107, dtype: int64

In [112]:
res_df = pd.concat([y_test,y_test_pd],axis=1)
res_df['diff'] = res_df['price'] - res_df['predicted']
res_df

       price     predicted           diff
373  1465000  1.787503e+06 -322503.107658
429  3315000  3.070854e+06  244145.858429
355  1765000  1.908360e+06 -143359.592482
188  3300000  3.038229e+06  261770.973685
54    800000  9.343831e+05 -134383.054590
..       ...           ...            ...
346  1180000  1.499867e+06 -319866.709815
256  1400000  1.513339e+06 -113339.402140
302  2445000  2.485295e+06  -40295.389942
337  1765000  2.020753e+06 -255753.318240
442  1830000  2.161632e+06 -331632.141788

[107 rows x 3 columns]